body {
    font-family: Arial;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: white;
    
    

}

header{
    margin: auto;
    text-align: center;
    background-image: url("bg-intro-desktop.png");
    background-color: hsl(193, 100%, 96%);
    font-size: 15px;
    box-sizing: border-box;
    padding: 0;
    display: flex;

}
main{
    background-color:#fff;

}
footer{
    background-color:   hsl(192, 100%, 9%);
    color: white;
    
}
.top{
    margin: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}
.top2{
    background-color: #f1f1f1;
    font-size: 15px;
    padding:10px;
}
.top22{
    background-color: white;
    border: color red;
    box-sizing: border-box;
    margin: 20px;
    display: flex;
    border-radius: 5px;
}
.top33{
    background-color:white;
    border: color red;
    box-sizing: border-box;
    box-shadow: papayawhip;
    margin: 20px;
    display: flex;
    border-radius: 5px;
}
.top44{
    background-color: white;
    border: color red;
    box-sizing: border-box;
    margin: 20px;
    display: flex;
    border-radius: 5px;
}
.flex-container{
    display: flex;
    
}
img{
    max-width: 50%;
    max-height:50%;
}